/*  classes start with a full stop .
   ids start with a # 
*/

* { 




    margin: 0;
    padding: 0;
}

.navbar {
    background-color:orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.navbar ul li{
    /* target only the ul li inside of the navbar */
    list-style-type: none;
    display: inline-block;
}

.navbar li a { 
    /* inside of the navbar calss... we are targeting spesific
     elements li a inside of the navbar
     */
     text-decoration: none;
     /* no description allows the link to simply look like text. 
     no underline, just text */
padding: 15px 10px

}   

.container {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}


.about-me{
    width: 40%;
    text-align: left;
}

.about-me p {
    margin-bottom: 33.3px;

    font-size:20px;

    color: orange;
}

.image-container {
    width: 33.3%;
}

.image-container img {
    width: 300px;
}

.button {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    background-color: orange;
    border-radius: 5px;
    display: inline-block;
}

.footer {
    text-align: center;
    background-color: orange;
    color: black; 
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
    width: 100%
}